
<p class="intro-text">CosplayPlanner is here to track your cosplay projects! Take advantage of our tools to plan your cosplay and gauge your progress! Login to continue or click below to sign up!</p>

<div class="signup-login-grid">
    <div>
        <a class="button" href="/signup">Sign Up</a>
    </div>
    <div>
        <a class="button" href="/login">Login</a>
    </div>
</div>