<h2>Sign Up</h2>

<form action="" method="post">
    <div class="inputs">
        <label for="">username</label>
        <input type="text" name="username">
    </div>
    <div class="inputs">
        <label for="">password</label>
        <input type="password" name="password">
    </div>
    <button>Sign Up</button>
</form>

<% if(usernameTaken){ %>
<h2>Username has already been taken. Please choose a different username.</h2>
<% } %>