<h2>New Cosplay</h2>


<form action="/cosplays" method="post">
    <div class="inputs">
        <label for="">Name</label>
        <input type="text" name="name">
    </div>
    <div class="inputs">
        <label for="">Source Material</label>
        <input type="text" name="source">
    </div>
    <div class="inputs">
        <label for="">Picture URL</label>
        <input type="text" name="picture_url">
    </div>
    <button type="submit">Add new cosplay</button>
</form>